 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle, rgba(210, 210, 210, 0.5), rgba(0, 0, 0, 0.5));
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 931px;
}

.u-section-1 .u-group-1 {
  width: 883px;
  min-height: 503px;
  border-style: solid;
  --radius: 30px;
  height: auto;
  margin: 139px 17px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 9px auto 0 19px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -432px 15px 0 auto;
}

.u-section-1 .u-group-2 {
  --radius: 30px;
  width: 361px;
  min-height: 63px;
  height: auto;
  margin: -582px 74px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 8px auto 0;
}

.u-section-1 .u-group-3 {
  --radius: 30px;
  width: 347px;
  min-height: 63px;
  height: auto;
  margin: -63px 495px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  margin: 7px auto 0;
}

.u-section-1 .u-group-4 {
  --radius: 30px;
  width: 347px;
  min-height: 63px;
  height: auto;
  margin: -63px auto 0 194px;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  margin: 7px auto 0;
}

.u-section-1 .u-group-5 {
  width: 706px;
  min-height: 281px;
  border-style: solid;
  --radius: 30px;
  height: auto;
  --border-color-var: #00ff2f;
  margin: 19px auto 0 15px;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 7px 9px 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  margin: 30px auto 60px 15px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1297px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 734px;
    margin-right: auto;
    height: auto;
  }

  .u-section-1 .u-group-2 {
    margin-top: -600px;
    margin-right: 77px;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
    padding-top: 0;
  }

  .u-section-1 .u-group-3 {
    margin-right: auto;
    margin-left: 78px;
    height: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 0;
    padding-top: 0;
  }

  .u-section-1 .u-group-4 {
    margin-top: -671px;
    margin-left: auto;
    height: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 0;
    padding-top: 0;
  }

  .u-section-1 .u-group-5 {
    min-height: 404px;
    margin-top: 34px;
    margin-left: auto;
    margin-bottom: 60px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1502px;
  }

  .u-section-1 .u-group-1 {
    min-height: 830px;
    margin-top: 644px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 29px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 35px;
    margin-right: 16px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -342px;
    margin-right: auto;
    margin-left: 28px;
  }

  .u-section-1 .u-group-3 {
    margin-top: -524px;
    margin-right: 13px;
  }

  .u-section-1 .u-group-4 {
    margin-top: -633px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -371px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.6666666666666665rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.6666666666666665rem;
  }

  .u-section-1 .u-group-2 {
    margin-top: -439px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.6666666666666665rem;
  }

  .u-section-1 .u-group-3 {
    margin-top: -509px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.6666666666666665rem;
  }

  .u-section-1 .u-group-4 {
    margin-top: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.6666666666666665rem;
  }

  .u-section-1 .u-group-5 {
    width: 540px;
    margin-top: 759px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    font-size: 3.75rem;
    margin-top: 32px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1905px;
  }

  .u-section-1 .u-group-1 {
    min-height: 1033px;
    width: 386px;
    margin-top: 812px;
    margin-left: -23px;
    margin-right: -23px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 82px;
  }

  .u-section-1 .u-text-2 {
    margin: 100px 0 -20px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -521px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-3 {
    margin-top: -554px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-4 {
    margin-top: -880px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-5 {
    min-height: 634px;
    width: 406px;
    margin-top: 38px;
    margin-left: -33px;
    margin-right: -33px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-left: 7px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 312px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 0 auto 0 18px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: -48px auto 0 595px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 398px;
  margin: 18px auto 0 -38px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 7px 0;
}

.u-section-2 .u-group-elements-1 {
  width: 347px;
  min-height: 45px;
  height: auto;
  animation-timing-function: linear;
  margin: 0 auto 0 0;
}

.u-section-2 .u-social-icons-1 {
  height: 45px;
  width: calc(((100% - 1140px) / 2)  + -49px);
  margin: 0 auto 0 0;
}

.u-section-2 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-2 .u-btn-1 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  margin: -37px 0 0 auto;
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 60px;
}

.u-section-2 .u-container-layout-2 {
  padding: 6px 0;
}

.u-section-2 .u-group-elements-2 {
  width: 358px;
  min-height: 48px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-1 {
  width: 48px;
  height: 48px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-btn-2 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  margin: -39px 0 0 auto;
  padding: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 60px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-group-elements-3 {
  width: 354px;
  min-height: 52px;
  height: auto;
  margin: 0 auto 0 4px;
}

.u-section-2 .u-btn-3 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 1.5rem;
  margin: 8px 0 0 auto;
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 52px;
  height: 52px;
  margin: -43px auto 0 0;
}

.u-section-2 .u-layout-wrap-2 {
  width: 459px;
  margin: -180px auto 0 502px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 60px;
}

.u-section-2 .u-container-layout-4 {
  padding: 7px 0;
}

.u-section-2 .u-group-elements-4 {
  width: 380px;
  min-height: 46px;
  height: auto;
  margin: 0 auto 0 -54px;
}

.u-section-2 .u-image-3 {
  width: 46px;
  height: 46px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-btn-4 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  margin: -38px 0 0 auto;
  padding: 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 60px;
}

.u-section-2 .u-container-layout-5 {
  padding: 2px 6px;
}

.u-section-2 .u-group-elements-5 {
  width: 289px;
  min-height: 51px;
  height: auto;
  margin: 0 auto -23px 0;
}

.u-section-2 .u-image-4 {
  width: 51px;
  height: 51px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-btn-5 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 1.5rem;
  margin: -43px 0 0 auto;
  padding: 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 60px;
}

.u-section-2 .u-container-layout-6 {
  padding: 4px 6px;
}

.u-section-2 .u-group-elements-6 {
  width: 356px;
  min-height: 48px;
  height: auto;
  margin: 1px auto -26px 0;
}

.u-section-2 .u-image-5 {
  width: 48px;
  height: 48px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-btn-6 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  margin: -34px 0 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -35px;
    margin-right: 155px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 5px;
  }

  .u-section-2 .u-group-elements-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 50px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-social-icons-1 {
    width: calc(((100% - 940px) / 2) + -49px);
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-left: 481px;
  }

  .u-section-2 .u-group-elements-5 {
    width: 284px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: -36px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 336px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 88px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -49px;
    margin-right: 14px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 1px;
  }

  .u-section-2 .u-social-icons-1 {
    width: calc(((100% - 720px) / 2) + -49px);
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 46px;
  }

  .u-section-2 .u-group-elements-2 {
    margin-right: 40px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 14px;
  }

  .u-section-2 .u-group-elements-3 {
    margin-top: -39px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 7px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin: -200px -99px 40px auto;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 66px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .u-section-2 .u-group-elements-4 {
    margin-top: 14px;
    margin-bottom: -4px;
    margin-left: -48px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 70px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 39px;
  }

  .u-section-2 .u-group-elements-5 {
    width: 289px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 50px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-group-elements-6 {
    margin-top: -2px;
    margin-bottom: 0;
    margin-left: 2px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.6666666666666665rem;
    margin-top: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.6666666666666665rem;
    margin-top: 20px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-social-icons-1 {
    width: calc(((100% - 540px) / 2) + -49px);
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 12px;
    margin-right: -36px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 217px;
    margin-right: 98px;
    margin-left: -44px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 410px;
    margin-top: -257px;
    margin-left: -35px;
    margin-right: -35px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 74px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-group-elements-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-social-icons-1 {
    width: calc(((100% - 340px) / 2) + -49px);
  }

  .u-section-2 .u-btn-1 {
    margin-top: -45px;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 93px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 6px;
  }

  .u-section-2 .u-group-elements-2 {
    width: 386px;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 31px;
  }

  .u-section-2 .u-group-elements-3 {
    width: 386px;
    margin-top: -38px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 2px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -38px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 384px;
    margin: 59px auto 39px -33px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 63px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-2 .u-group-elements-4 {
    margin-top: 6px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 80px;
  }

  .u-section-2 .u-container-layout-5 {
    padding: 7px 0;
  }

  .u-section-2 .u-group-elements-5 {
    margin-top: 6px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 64px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-group-elements-6 {
    width: 351px;
    margin-top: 0;
    margin-left: 1px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: -39px;
  }
}